<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

  <br />
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/catherinezzy">Ziyue</a>. One college graduate who is passionate about learning coding before starting stressful worklife. And of course she loves smiling and believes in the power a smile can deliver. 
  </p>
  <br />
  <p>
     Being 10000 miles away from home, she is on her own life journey of discovery. She gets support and love from family, friends, or even strangers to overcome her fear of the unexpected future. She is and will keep on smiling. 
    
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'face.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ziyue(Catherine) Zhou</h2>
    <br />
    <p>
    	Ziyue Zhou is an alumnus of University of Illinois at Urbana-Champaign. She concentrated in Industrial/Organizational Psychology for undergraduate studies and graduated with honor. She is excited about applying psychological principles into workplace to maximize profit, employee satisfaction and detention rate. 
    </p>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />